.sedoo_admin_bloc {
  margin-left: -20px;
}

.sedoo_admin_bloc .theme--light.v-application {
  background: transparent;
}

/* override conflicting styles */
input[id^="input-"]:focus,
input[id^="input-"] {
  box-shadow: unset;
  border: 0;
}

input.readonly,
input[readonly],
textarea.readonly,
textarea[readonly] {
  background-color: transparent;
}
