.single-sedoo_camp_products .row{
    margin:auto;
}

.single-sedoo_camp_products .wrapper-content {
    max-width: none;
}

.v-treeview-node__root {
    min-height: 25px !important;
}

.v-treeview-node__level {
  width: 15px !important;
}