.single-sedoo_camp_products .row{
    margin:auto;
}

.single-sedoo_camp_products .wrapper-content {
    max-width: none;
}

.v-treeview-node__root {
    min-height: 25px !important;
}

.v-treeview-node__level {
  width: 15px !important;
}

.product-viewer-title {
    display: none;
}



/*************    TABS    **************/
.users-tabs [type="checkbox"] {
    display: none;
    padding: 20px;
}

.users-tabs {
list-style-type:none;
position:relative;
max-width:1200px;
}

.users-tabs label {
display:block;
padding:5px 20px;
border-radius:5px;
background:#eee;
margin-top:5px;
cursor:pointer; /* changement de curseur de souris */
}
.darkmode .users-tabs label {
color:#333;
}

[type="checkbox"]:checked + label {
border-radius:5px 5px 0 0;
}

.users-tabs label:hover,
.users-tabs [type="checkbox"]:checked + label {
color:#999;
}

.users-tabs article,
.user-page .users-tabs [type="checkbox"] {
display:none;
padding:20px;
}

.users-tabs article {
border-radius:0 0 5px 5px;
margin-bottom:10px;
}

.users-tabs [type="checkbox"]:checked ~ article {
display:block;
}

